* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Verdana;
}

:root {
  --col-off-black: hsl(30, 10%, 10%);
  --col-off-white: hsl(18, 100%, 97%);
  --col-gray: rgba(150, 150, 150, 1);
  --col-off-pink: hsl(313, 88%, 92%);
  --accent-cols: rgba(255, 228, 230, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--col-off-black);
  height: 200vh;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  display: flex;
  flex-grow: 1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  justify-content: space-between;
  z-index: 100;
  animation: bounceIn 3s ease-in-out;
}

.navbar {
  display: flex;
}

.hamburger {
  display: none; /* Hidden by default */
  font-size: 28px; /* Size of the icon */
  cursor: pointer; /* Pointer cursor on hover */
  color: var(--col-off-white); /* Color of the icon */
}

.Logo {
  font-size: 25px;
  color: var(--col-off-white);
  text-decoration: none;
  font-weight: 600;
}

@keyframes slideLeft {
  1% {
    transform: translate(-500%, 0);
  }
  70% {
    transform: translate(100%, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: var(--col-off-white);
  text-decoration: none;
  font-weight: 500;
  margin: 0 0 0 35px;
  transition: transform 0.5s;
}

.navbar a:hover {
  transform: scale(1.2);
}

.navbar a::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    45deg,
    var(--col-off-white),
    var(--col-off-black)
  );
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  transition: 0.5s;
}

.navbar a:hover::before {
  width: 100%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background: transparent;
  color: var(--col-off-white);
  margin-left: 35px;
  font-size: 18px;
  border: none;
  cursor: pointer;
  transition: transform 0.5s;
}

.navbar > a,
.dropbtn,
.Logo {
  animation: bounceIn 2.5s ease-in-out;
}

.dropdown:hover .dropbtn {
  transform: scale(1.1);
}

.dropdown-content {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 5%;
  width: 80px;
  background: var(--col-off-white);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 8px;
}

.dropdown-content a {
  position: relative;
  color: var(--col-off-black);
  padding: 5px 8px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  margin: 0 auto;
  border-radius: 8px;
  z-index: 1;
  overflow: hidden;
  transition: color 0.8s;
}

.dropdown-content a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-black);
  z-index: -1;
  transition: width 0.5s;
}

.dropdown-content a:hover::before {
  width: 100%;
}

.dropdown-content a:hover {
  color: var(--col-off-white);
}

.dropdown:hover .dropdown-content {
  display: flex;
}

/* Making navbar responsive */
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  display: none;
  background: var(--col-off-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 15px;
}

.sidebar li {
  list-style-type: none;
  width: 100%;
}

.sidebar li a {
  color: var(--col-off-black);
}

.ham-btn {
  display: none;
}

@media screen and (max-width: 983px) {
  .hideOnMobile {
    display: none;
  }

  .ham-btn {
    display: inline-block;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* Home section layout */
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: var(--col-off-black);
}

/* Fade-in effect keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes bounceIn {
  0% {
    transform: translateY(-100%); /* Start above the screen */
    opacity: 0; /* Start hidden */
  }
  30% {
    transform: translateY(30px); /* Move down a bit */
    opacity: 1; /* Fully visible */
  }
  50% {
    transform: translateY(-15px); /* Move up a bit */
  }
  70% {
    transform: translateY(10px); /* Move down slightly */
  }
  100% {
    transform: translateY(0); /* Settle in place */
  }
}

/* First container for the background image */
.image-container {
  flex: 1;
  height: 100%;
  background-image: url("../images/wedding-photo3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  animation:
    fadeIn 1.5s ease-in-out,
    changeImage 25s 2s ease-in-out infinite alternate;
}

/* Middle container for the typed-text with buttons */
.typed-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--col-off-black);
  padding: 30px;
  border-radius: 10px;
  overflow: hidden;
}

.typed-text {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--col-off-white);
}

.text {
  position: relative;
}

.text-1 {
}

.text-2 {
}

.text-3 {
}

.text-4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 3px solid var(--col-off-white);
  background-color: var(--col-off-black);
  animation: typewriter 5s steps(20) infinite;
}

@keyframes typewriter {
  40%,
  60% {
    left: 100%;
  }
  80%,
  100% {
    left: 0%;
  }
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 345px;
  height: 50px;
  margin-top: 20px;
}

.btn-box a {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  background: var(--col-off-white);
  border: 2px solid var(--col-off-white);
  color: var(--col-off-black);
  border-radius: 8px;
  font-size: 19px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.5px;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.btn-box a:nth-child(2) {
  background: transparent;
  color: var(--col-off-white);
}

.btn-box a:nth-child(2):hover {
  color: var(--col-off-black);
}

.btn-box a:nth-child(2)::before {
  background: var(--col-off-white);
}

.btn-box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-black);
  z-index: -1;
  transition: 0.5s;
}

.btn-box a:hover::before {
  width: 100%;
}

.btn-box a:hover {
  color: var(--col-off-white);
}

.image-container2 {
  flex: 1;
  height: 100%;
  background-image: url("../images/wedding-photo3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  animation:
    fadeIn 1.5s ease-in-out,
    changeImage 25s 2s ease-in-out infinite alternate;
}

@keyframes changeImage {
  0% {
    background-image: url("../images/wedding-photo3.jpg");
  }
  20% {
    background-image: url("../images/wedding-photo4.jpg");
  }
  40% {
    background-image: url("../images/wedding-photo5.jpg");
  }
  60% {
    background-image: url("../images/wedding-photo3.jpg");
  }
  80% {
    background-image: url("../images/wedding-photo4.jpg");
  }
  100% {
    background-image: url("../images/wedding-photo5.jpg");
  }
}

/* Hero section responsiveness */
@media (max-width: 1200px) {
  .typed-text {
    font-size: 48px;
  }

  .btn-box {
    display: flex;
    gap: 10px;
    width: 300px;
    height: 50px;
  }
}

@media (max-width: 992px) {
  .home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .image-container,
  .image-container2 {
    height: 50vh;
    width: 100%;
  }

  .typed-container {
    width: 90%;
    padding: 20px;
  }

  .typed-text {
    font-size: 36px;
  }

  .btn-box {
    width: 280px;
    height: 50px;
  }

  .btn-box a {
    font-size: 18px;
    padding: 10px 18px;
  }
}

@media (max-width: 768px) {
  .image-container,
  .image-container2 {
    height: 40vh;
  }

  .typed-text {
    font-size: 28px;
  }

  .btn-box {
    width: 260px;
    height: 48px;
  }

  .btn-box a {
    font-size: 17px;
    padding: 10px 15px;
    width: 130px;
    transition: transform 0.3s ease;
  }

  .btn-box a:hover {
    transform: scale(1.05); /* Adds a hover effect */
  }
}

@media (max-width: 576px) {
  .typed-text {
    font-size: 24px;
  }

  .btn-box {
    width: 120px;
    height: 30px;
    flex-direction: column;
    gap: 15px;
    border-radius: 20%;
  }

  .btn-box a {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }

  .home-sci {
    width: 130px;
  }
}

@media (max-width: 400px) {
  .typed-text {
    font-size: 18px;
  }

  .btn-box {
    width: 100px;
    height: 35px;
    flex-direction: column;
    gap: 15px;
    border-radius: 20%;
  }

  .btn-box a {
    width: 100%;
    font-size: 16px;
    padding: 12px 0;
  }

  .home-sci {
    width: 130px;
  }
}

/* END OF HERO SECTION */

.grid-container {
  background: linear-gradient(
    90deg,
    var(--col-off-black),
    var(--col-gray),
    var(--col-off-white)
  );
  padding: 15px 9%;
  padding-bottom: 100px;
  margin: 100vh 0 0 0;
}

.grid-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(280px, 1fr));
}

.grid-container .box-container .box {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background: var(--col-off-white);
  text-align: center;
  padding: 30px 20px;
  margin: 0 40px 60px 0;
  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease,
    opacity 0.3s ease;
}

.grid-container .heading {
  text-align: center;
  padding-bottom: 100px;
  color: var(--col-off-white);
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.grid-container .box-container .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 15px;
  padding: 10px;
}

.grid-container .box-container .box:hover {
  transform: scale(1.2);
  opacity: 0.8;
  box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.8);
  z-index: 2;
  cursor: pointer;
}

.grid-container .box-container .box h3 {
  color: #444;
  font-size: 22px;
  padding: 10px 0;
  font-weight: 600;
}

.grid-container .box-container .box .btn {
  position: relative;
  display: inline-flex;
  padding: 8px 25px;
  margin: 20px 0 0 0;
  background: hsl(0, 1%, 11%);
  border: 1px solid var(-col-off-black);
  color: var(--col-off-white);
  border-radius: 8px;
  font-size: 17px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  transition: 0.5s;
}

.grid-container .box-container .box a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: var(--col-off-white);
  transition: 0.5s;
  z-index: -1;
}

.grid-container .box-container .box a:hover::before {
  width: 100%;
}

.grid-container .box-container .box .btn:hover {
  font-weight: 700;
  color: var(--col-off-black);
  border: 1px solid var(--col-off-black);
}

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
  background-color: hsl(200, 20%, 70%);
  border-radius: 8px;
}

.skeleton-text {
  width: 100%;
  height: 1.5rem;
  margin: 10px 0 10px 0;
  border-radius: 4px;
  background-color: hsl(200, 20%, 80%);
}

p.skeleton-text {
  width: 90%;
}

.actual-text {
  display: none;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

@media (max-width: 768px) {
  .grid-container .box-container {
  }

  .grid-container .box-container .box {
    max-width: 80%; /* Make boxes take full width */
    margin: 20px 20px; /* Space out boxes vertically */
  }

  /* Style buttons for smaller screens */
  .grid-container .box-container .box .btn {
    padding: 12px 15px; /* Adjust padding for better fit */
    font-size: 16px; /* Smaller font size for buttons */
  }
}

.footer-container {
  background: var(--col-off-black);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  justify-items: center;
}

.footer-container .item {
  color: var(--col-off-white);
  height: 180px;
}

.footer-container .item h4 {
  font-size: 22px;
  margin: 15px 0 15px 0;
  position: relative;
}

.footer-container .item h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  background: var(--col-off-white);
  height: 2px;
  width: 90%;
}

.footer-container .item ul {
  list-style-type: none;
}

.footer-container .item ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-container .item a {
  display: flex;
  color: var(--col-off-white);
  text-decoration: none;
  transition: transform 0.8s;
}

.footer-container .item a:hover {
  transform: scale(1.2);
}

.footer-container .social a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 20px;
  color: var(--col-off-white);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition:
    color 0.5s,
    transform 0.5s;
  overflow: hidden;
  z-index: 1;
}

.footer-container .social a::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: var(--col-off-white);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.8s;
  z-index: -1;
}

.footer-container .social a:hover::before {
  width: 100%;
  height: 100%;
}

.footer-container .social a:hover {
  color: var(--col-off-black);
}

.footer-container .social ul {
  display: grid;
  grid-auto-flow: column;
  justify-items: center;
  gap: 10px;
}
